.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 15px;

  font-family: $ff-montserrat;
  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
