.head {
  color: $color-alice-blue;

  background-color: $color-san-marino;
  background-image: url("../img/background/bg-head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include retina {
    background-image: url("../img/background/bg-head@2x.jpg");
  }

  @include vp-1023 {
    box-shadow: none;
  }

  @include vp-767 {
    background-position: 45% 0%;
    background-image: url("../img/background/bg-head-tablet.jpg");

    @include retina {
      background-image: url("../img/background/bg-head-tablet@2x.jpg");
    }
  }
}

.head__inner {
  padding: 270px 95px 277px;

  @include vp-1023 {
    padding: 268px 0 274px;
  }

  @include vp-767 {
    padding: 176px 0 177px;
  }
}

.head__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  @include vp-767 {
    margin-bottom: 12px;

    font-size: 36px;
    line-height: 1.25;
  }
}

.head__text {
  margin: 0;

  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @include vp-767 {
    margin-right: 60px;
    font-size: 16px;
    line-height: 1.4;
  }
}
